---
layout: default
title: What is all this about?
---

<h1>{{ page.title }}</h1>

{% for post in site.posts sort_by:'index' %}

    {{ post.date | date: "%B %e, %Y" }}
    <a href="{{ post.url }}">{{ post.title }}</a><br>

{% endfor %}

<h2>category test:</h2>
{% for post in site.categories.test %}
    <a href="{{ post.url }}">{{ post.title }}</a><br>
{% endfor %}

<h2>category setup:</h2>
{% for post in site.categories.setup %}
    <a href="{{ post.url }}">{{ post.title }}</a><br>
{% endfor %}

<h2>tag css:</h2>
{% for post in site.tags.css %}
    <a href="{{ post.url }}">{{ post.title }}</a><br>
{% endfor %}

<h2>Third article</h2>
    <a href="{% post_url 2014-03-17-third-entry %}">Third article</a><br>
