<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>

  <meta name="description" content="Learn basic frontend coding skills in no time and improve your work as a User Experience Designer">
  <meta name="keywords" content="frontend, coding, user experience designer, learn, developing, html, html5, css">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="shortcut icon" href="http://developinguxd.com/favicon.png">
  <link rel="author" href="humans.txt">
  <link href='http://fonts.googleapis.com/css?family=Roboto:300|Roboto+Slab:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/assets/stylesheets/syntax.css">
  <link rel="stylesheet" href="/assets/stylesheets/app.css">
</head>
