<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
  <form action="http://www.developinguxd.us8.list-manage.com/subscribe/post?u=8adf889f617cbad1ff4d741e2&amp;id=bb153ef92b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate mc-form clearfix" target="_blank" novalidate>
    <div class="mc-field-group">
      <label for="mce-EMAIL">Email address &colon;</label>
      <input type="email" placeholder="you@something.com" required value="" name="EMAIL" id="mce-EMAIL">
      <button type="submit" name="subscribe" id="mc-embedded-subscribe">Get launch mail!</button>
    </div>
    <div id="mce-responses" class="clear">
      <div class="js-done-response hidden"></div>
      <div class="js-fail-response hidden"></div>
    </div>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;">
      <input type="text" name="b_8adf889f617cbad1ff4d741e2_bb153ef92b" tabindex="-1" value="">
    </div>
  </form>
  <p class="mailchimp__powered-by">(powered by <a class="link--light" href="http://eepurl.com/UYbtn" title="MailChimp - email marketing made easy and fun">MailChimp</a>)</p>
</div>
<!--End mc_embed_signup-->
