<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
  <form action="http://www.developinguxd.us8.list-manage.com/subscribe/post-json?u=8adf889f617cbad1ff4d741e2&amp;id=bb153ef92b&c=?"
        method="post"
        id="mailchimp-form"
        class="mailchimp-form"
        novalidate>
    <label for="mc-email">Email address</label>
    <input type="email" placeholder="you@something.com" required name="email" id="mc-email">
    <button type="submit">Get launch mail!</button>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;">
      <input type="text" name="b_8adf889f617cbad1ff4d741e2_bb153ef92b" tabindex="-1" value="">
    </div>
  </form>
  <p class="mailchimp__powered-by">(powered by <a class="link--light" href="http://eepurl.com/UYbtn" title="MailChimp - email marketing made easy and fun">MailChimp</a>)</p>
</div>
<!--End mc_embed_signup-->
