<meta name="description" content="{{ page.description or site.description }}">
<meta name="keywords" content="{{ page.keywords or site.keywords }}">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:site_name" content="{{ site.site_name }}">
<meta property="og:type" content="{{ site.type }}">
<meta property="og:url" content="{{ site.full_url}}{{ page.url }}">
<meta property="og:description" content="{{ page.description or site.description }}">
<meta property="og:image" content="{{ site.full_url}}/{{page.og_image or site_og_image}}">
<meta property="og:app_id" content="309164995905973">

<meta property="article:publisher" content="http://facebook.com/developinguxd">
