<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:site_name" content="{{ site.site_name }}">
<meta property="og:type" content="{{ site.type }}">
<meta property="og:url" content="{{ site.full_url}}{{ page.url }}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:image" content="{{ site.full_url}}/{% if page.og_image %}{{ page.og_image }}{% else %}{{ site.og_image }}{% endif %}">
<meta property="og:app_id" content="309164995905973">

<meta property="article:publisher" content="http://facebook.com/developinguxd">
