@import "_component-imports";

.header {
  @extend .abs-align__container;

  @include breakpoint($small) {
    height: 140px;
  }

  background-color: $primary;
  height: 240px;

  &:after {
    @extend .small-shadow--bottom;
  }

}

.header-logo {
  @extend .abs-align__element;

  display: block;
  height: auto;
  max-width: 400px;
  width: 100%;

  @include breakpoint($small) {
    width: 90%;
  }
}
