@import "_component-imports";

.header {
  background-color: $primary;
  height: 140px;
  position: relative;

  &:after {
    @extend .small-shadow--bottom;
  }

  @include breakpoint($medium) {
    height: 240px;
  }
}

.header-logo {
  @extend .center-abs;

  display: block;
  height: auto;
  max-width: 380px;
  padding: 1em;
  width: 80%;

  @include breakpoint($medium) {
    width: 100%;
  }
}
