@import "component-imports";
.nav {
  bottom: 0;
  height: 40px;
  left: 0;
  margin: 0 auto 1em;
  max-width: 880px;
  position: absolute;
  right: 0;
  text-align: justify;
  width: 80%;


  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    &:after {
      content: "";
      display: inline-block;
      height: 0;
      position: relative;
      width: 100%;
    }
  }

  li {
    display: inline-block;
  }
}

.nav-link {
  color: #fff;
  padding: 5px 12px;
  text-decoration: none;

  @include small {
    color: $color-tag;
    display: block;
    width: 100%;
  }

  &:hover,
  &.nav-active {
    border: thin solid $color-attribute;
    color: $color-tag;
    margin: 0;
    position: relative;

    $arrow-height: 10px;
    $arrow-width: 20px;
    &:before,
    &:after {
      border-left: $arrow-height solid transparent;
      border-right: $arrow-height solid transparent;
      border-top: $arrow-width solid $color-attribute;
      content: "";
      display: block;
      position: absolute;
      right: 20px;
      top: 100%;
    }

    &:before {
      border-top: $arrow-width solid $color-background;
      margin-top: -1px;
      z-index: 1;
    }
  }
}
