@import "component-imports";

.nav {
  margin: 0 auto;
  max-width: 880px;
  position: relative;
  text-align: justify;

  // burger nav symbol
  &:after {
    bottom: 0;
    color: $color-highlight;
    content: "≡";
    display: block;
    font-size: 1.7em;
    pointer-events: none;
    position: absolute;
    right: 0.6em;
    top: -0.3em;

    @include medium {
      content: none;
    }
  }
}

.nav-list {
  margin: 0;
  padding: 0;
  line-height: 1; // for the enable-justify hack
  list-style-type: none;

  @include medium {
    background-color: transparent;
  }

  // enable-justify
  &:after {
    content: "";
    display: inline-block;
    width: 100%;
  }
}

.nav-list-item {
  line-height: 1.5;
  margin: 0 5px;

  @include medium {
    display: inline-block;
  }
}

// needed for specifity
.nav {
  .nav-link {
    border: 1px solid transparent;
    color: $color-paper;
    display: none;
    padding: 5px 12px;
    text-decoration: none;
    transition: none;

    @include medium {
      display: block;
    }
  }

  .nav-link--active,
  .nav--active .nav-link {
    display: block;
  }

  .nav-link:hover,
  .nav-link--active {
    border: 1px solid $color-attribute;
    color: $color-tag;
    margin: 0;
    position: relative;

    $arrow-height: 18px;
    $arrow-width: 8px;
    &:before,
    &:after {
      border-left: $arrow-width solid transparent;
      border-right: $arrow-width solid transparent;
      border-top: $arrow-height solid $color-attribute;
      content: "";
      display: block;
      position: absolute;
      right: 20px;
      top: 100%;
    }

    &:before {
      border-top: $arrow-height solid $color-background;
      margin-top: -3px;
      z-index: 1;
    }
  }
}
