.page-header {
  background-color: $color-background;
  padding-top: 5%;
}

.page-header__logo {
  background-color: $color-highlight;
  margin-bottom: 5%;

  img {
    display: block;
    margin: 0 auto;
    max-height: 70px;
    max-width: 90%;
    padding: 0.3em 0 0;
  }
}
