/* base */
body {
  @extend %t-normal;
  color: $dark;
  font-size: 24px;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

.link {
  position: relative;
  text-decoration: none;
  // border-bottom: 4px solid $primary;

  &:after {
    background-color: $primary;
    content: "";
    height: 4px;
    left: 0;
    bottom: -4px;
    position: absolute;
    transition: height 0.1s ease-in-out;
    width: 100%;
    z-index: -1;
  }

  &:link, &:visited {
    color: inherit;
  }

  &:hover {
    color: #fff;
    &:after {
      height: 100%;
      padding-top: 3px;
    }
  }
}
