/* base */
body {
  @extend %t-normal;

  background-color: $color-paper;
  color: $color-highlight;
  font-size: 24px;
  line-height: 1.6;
}

strong {
  background-color: $color-dark-grey;
}

a {
  border-bottom: 2px solid $color-alt;
  position: relative;
  text-decoration: none;
  transition: border-bottom 0.2s;

  &:link, &:visited {
    color: inherit;
  }

  &:hover {
    border-color: darken($color-alt, 15%);
  }
}


.link--light {
  &:link, &:visited {
    border-bottom: 1px solid $color-alt;
    color: inherit;
    text-decoration: none;
  }

  &:hover {
    color: lighten($color-highlight, 30%);
  }
}
