@import "colors";

/* fonts */
%t-normal {
  font-family: 'Roboto Slab', 'serif';
}

.t-mono {
  font-family: 'Source Code Pro', Consolas, monospace;
}

.t-nav {
  @extend %t-normal;
}

h1,
.main-headline {
  @extend .t-mono;
  color: $color-tag;
  font-size: 1.6em;
  text-transform: uppercase;
}

h2,
.sub-headline {
  @extend .t-mono;
  color: $color-tag;
  font-size: 1.3em;
}
