.abs-align__container {
  position: relative;
}

.abs-align__element {
  bottom: 0;
  left: 0;
  margin: auto auto;
  position: absolute;
  right: 0;
  top: 0;
}

.txr {
  text-align: right!important;
}

.txl {
  text-align: left!important;
}

.txc {
  text-align: center!important;
}
