@import "susy";
@import "vendor/breakpoint";

$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);

/* breakpoints */
$large: 700px;
$medium: 630px;
$small: max-width 480px;

@mixin small() {
  @include breakpoint($small) {
    @content;
  }
}

@mixin medium() {
  @include breakpoint($medium) {
    @content;
  }
}

@mixin large() {
  @include breakpoint($large) {
    @content;
  }
}

.grid__container {
  max-width: 880px;
  margin: 0 auto;
}

.grid__block {
  @include container;
  @include span(12);

  padding-left: 0.5em;
  padding-right: 0.5em;

  @include medium {
    padding-left: 2em;
    padding-right: 2em;
  }
}
