/* Generic styles */


/* Remove bootstrap focus outline*/
.btn:focus {
  outline: none !Important;
}

/* Vertical gaps */
.vgap-sm {
  margin-bottom: 20px;
}
.vgap {
  margin-bottom: 40px;
}
.vgap-lg {
  margin-bottom: 80px;
}

/* base */
body {
  font-family: 'Roboto Slab', 'serif';
}

.sans {
  font-family: 'Roboto', 'sans-serif';
}
