@import '../bower_components/normalize-scss/_normalize.scss';
@import 'browsehappy';
@import 'generic';
@import 'helper';
@import 'print';

/* colors */
$primary: #9DB4C5;
$dark: #536063;

/* fonts */
%t-normal {
  font-family: 'Roboto Slab', 'serif';
}

.t-sans {
  font-family: 'Roboto', 'sans-serif';
}

.t-nav {
  @extend %t-normal;

}

/* base */
body {
  @extend %t-normal;
  color: $dark;
  font-size: 24px;
  line-height: 1.6;
}
